{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="main_body" style="height: 100vh;">
    <div style="width: 65vw; height: 90vh; min-height: 1000px; margin: 30px auto auto auto; display: flex; flex-direction: row;">
        <div style="background-color: #ffffff; width: 15vw; height: 90vh; min-height: 1000px; border: solid 1px lightgray; border-radius: 10px 0 0 10px;">
            <div style="display: flex; flex-direction: column; margin-left: 30px;">
                <div id="profile_user_edit" style="font-size: 16pt; margin-top: 30px; cursor: pointer;">프로필 편집</div>
                <div id="user_password_change" style="font-size: 16pt; margin-top: 30px; cursor: pointer;">비밀번호 변경</div>
                <div style="font-size: 16pt; margin-top: 30px; color: red; cursor: pointer;"><a href="/delete" onclick="return confirm('정말 회원 탈퇴하시겠습니까?');" style="color: red; text-decoration: none;">회원 탈퇴</a></div>
            </div>
        </div>
        <div style="background-color: #ffffff; width: 50vw; height: 90vh; min-height: 1000px; border: solid 1px lightgray; border-radius: 0 10px 10px 0;">
            <div style="display: flex; flex-direction: row;">
                <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 2.5vh 30px 0 0; text-align: right;">
                    <img class="profile_img" style="border-radius: 50px; width: 40px; height: 40px;" src="{% get_media_prefix %}{{ user.profile_image }}">
                </div>
                <div style="width: 35vw; height: 4vh; min-height: 40px; margin-top: 2.5vh;"> 
                    <b style="font-size: 16pt;">{{ user.nickname }}</b>
                    {{ user.email }}
                </div>
            </div>
            <form></form>
            {% comment %} <form action="/user/password-edit/{{user.id}}/" method="POST"> {% endcomment %}
            <form action="{% url 'password-edit' user.id %}" method="POST">
                {% csrf_token %}            
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 1vh 30px 0 0; text-align: right;"> <b>이전 비밀번호</b> </div>
                    <div style="width: 35vw; height: 4vh; min-height: 40px;  margin-top: 1vh;"><input type="text" style="border: solid 1px lightgray; border-radius: 3px; width: 25vw;" name="origin_password"></div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 1vh 30px 0 0; text-align: right;"> <b>새 비밀번호</b> </div>
                    <div style="width: 35vw; height: 4vh; min-height: 40px; margin-top: 1vh;"><input type="text" style="border: solid 1px lightgray; border-radius: 3px; width: 25vw;" name="new_password"></div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 1vh 30px 0 0; text-align: right;"> <b>새 비밀번호 확인</b> </div>
                    <div style="width: 35vw; height: 4vh; min-height: 40px; margin-top: 1vh;"><input type="text" style="border: solid 1px lightgray; border-radius: 3px; width: 25vw;" name="confirm_password"></div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 1vh 30px 0 0; text-align: right;"></div>
                    <div style="width: 35vw; height: 4vh; min-height: 40px; margin-top: 1vh;"><button class="btn btn-primary" type="submit">비밀번호 변경</button></div>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $('#profile_user_edit').click(function () {
        window.location.href = "/profile/edit";
    })

    $('#user_password_change').click(function () {
        window.location.href = "/profile/edit/password";
    })

    $('#user_delete').click(function () {
        window.location.href = "/delete";
    })
</script>


{% endblock %}