{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="main_body" style="height: 100vh;">
    <div style="width: 65vw; height: 90vh; min-height: 1000px; margin: 30px auto auto auto; display: flex; flex-direction: row;">
        <div style="background-color: #ffffff; width: 15vw; height: 90vh; min-height: 1000px; border: solid 1px lightgray; border-radius: 10px 0 0 10px;">
            <div style="display: flex; flex-direction: column; margin-left: 30px;">
                <div id="profile_user_edit" style="font-size: 16pt; margin-top: 30px; cursor: pointer;">프로필 편집</div>
                <div id="user_password_change" style="font-size: 16pt; margin-top: 30px; cursor: pointer;">비밀번호 변경</div>
                <div id="user_delete" style="font-size: 16pt; margin-top: 30px; color: red; cursor: pointer;">회원 탈퇴</div>
            </div>
        </div>
        <div style="background-color: #ffffff; width: 50vw; height: 90vh; min-height: 1000px; border: solid 1px lightgray; border-radius: 0 10px 10px 0;">
            <div style="display: flex; flex-direction: row;">
                <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 2.5vh 30px 0 0; text-align: right;">
                    <img class="profile_img" style="border-radius: 50px; width: 40px; height: 40px;" src="https://avatars.githubusercontent.com/u/113072884?v=4">
                </div>
                <div style="width: 35vw; height: 4vh; min-height: 40px; margin-top: 2.5vh;"> 
                    <b style="font-size: 16pt;">{{ user.nickname }}</b>
                </div>
            </div>
            <form></form>
            <form action="/user/edit/{{ user.id }}/" method="POST">
                {% csrf_token %}
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 12vh; min-height: 120px; margin: 1vh 30px 0 0; text-align: right;"> <b>이름</b> </div>
                    <div style="width: 35vw; height: 12vh; min-height: 120px; margin-top: 1vh; display: flex; flex-direction: column;">
                        <input type="text" style="border: solid 1px lightgray; border-radius: 3px; width: 25vw;" name="username">
                        <div style="font-size: 10pt; color: gray; width: 25vw;">사람들이 이름, 별명 또는 비즈니스 이름 등 회원님의 알려진 이름을 사용하여 회원님의 계정을 찾을 수 있도록 도와주세요.<br><br>
                            이름은 14일 안에 두 번만 변경할 수 있습니다.</div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 8vh; min-height: 80px; margin: 1vh 30px 0 0; text-align: right;"> <b>사용자 이름</b> </div>
                    <div style="width: 35vw; height: 8vh; min-height: 80px; margin-top: 1vh;">
                        <input type="text" style="border: solid 1px lightgray; border-radius: 3px; width: 25vw;" name="nickname">
                        <div style="font-size: 10pt; color: gray; width: 25vw;">대부분의 경우 이후 14일 동안 사용자 이름을 다시 {{ user.nickname }}(으)로 변경할 수 있습니다.</div>
                    </div>
                </div>
            
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 1vh 30px 0 0; text-align: right;"> <b>이메일</b> </div>
                    <div style="width: 35vw; height: 4vh; min-height: 40px;  margin-top: 1vh;">
                    <input type="text" style="border: solid 1px lightgray; border-radius: 3px; width: 25vw;" name="email"></div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 15vw; height: 4vh; min-height: 40px; margin: 1vh 30px 0 0; text-align: right;"></div>
                    <div style="width: 35vw; height: 4vh; min-height: 40px; margin-top: 1vh;">
                    <button type="submit" class="btn btn-primary">제출</button></div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $('#profile_user_edit').click(function () {
        window.location.href = "/profile/edit";
    })

    $('#user_password_change').click(function () { 
        window.location.href = "/profile/edit/password";
    })

    $('#user_delete').click(function () {
        window.location.href = "/delete";
    })



    
</script>

 
{% endblock %}